<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="do-you-want">Do you want to get <span class="font-weight-bolder">Special News?</span></p>
      </div>
      <div class="col-lg-12 text-center desktop-display">
        <form [formGroup]="subscribeForm" (ngSubmit)="subscribeEmail()">
          <div class="form-group">
            <input type="email" class="form-control subscribe-form" id="exampleInputEmail1" placeholder="Drop Your Email" aria-describedby="emailHelp" formControlName="email">
            <button type="submit" class="btn subscribe-button"  [disabled]="!subscribeForm.valid">Subscribe</button>
          </div>


        </form>
      </div>

      <div class="col-lg-12 text-center mobile-display">
        <form [formGroup]="subscribeForm" (ngSubmit)="subscribeEmail()">
          <div class="form-group">
            <input type="email" class="form-control subscribe-form" id="exampleInputEmail1" placeholder="Drop Your Email" aria-describedby="emailHelp" formControlName="email">
          </div>

          <div>
            <button type="submit" class="btn subscribe-button"  [disabled]="!subscribeForm.valid">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
