.form-control{
  width: 26vw;
}
.form-group {
   display: inline-flex;
}
section {
  margin-top: 8vw;
  margin-bottom: 10vw;
}
.do-you-want {
  color: #42495B;
  text-align: center;
  font-size: 1.2rem;
}
.subscribe-form {
  background: #F6F7FB 0% 0% no-repeat padding-box;
  border: unset;
  color: #999999;
  border-radius: unset;
  font-size: 0.6rem;
  padding: 1.2rem 1.2rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}
.subscribe-button {
  margin-left: 14px;
  background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.9rem;
  color: white;
  line-height: 1.8;
}
.contact-holder {
  margin-bottom: 10vw
}
.white-space {
   width: 40vw;
   margin-bottom: 20vw;
}
.desktop-display {
  display: block;
}
.mobile-display {
  display: none;
}
@media screen and (max-width: 600px) {
  .do-you-want {
  color: #42495B;
  text-align: center;
  font-size: 3.4rem;
  }
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
  .form-control{
    width: 100%;
  }
  .form-group {
     display: block;
  }
  .subscribe-form {
    background: #F6F7FB 0% 0% no-repeat padding-box;
    border: unset;
    color: #999999;
    border-radius: unset;
    font-size: 1rem;
    padding: 2.2rem 2.2rem;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
  }
  .subscribe-button {
    margin-left: 14px;
    background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.1rem;
    color: white;
    line-height: 3;
    float: right;
    margin-top: 10px;
  }
}

