<section>
  <div class="container">
    <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="what-we-offer">
          What We Offer
        </div>
       </div>
    </div>
    <div class="row background-image">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-holder">
        <div class="card" >
          <img src="../../../assets/001-process.svg" class="" alt="...">
          <div class="card-body">
            <div class="card-title">SOCIAL MEDIA MANAGEMENT</div>
            <p class="card-text">Perfect for growing your brand’s social community and engage with the right audience. We manage everything from curation of content to management of comments and everything in between.</p>
            <a href="#" class="btn  sea-more">SEE MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-holder">
        <div class="card" >
          <img src="../../../assets/002-social-media.svg" class="" alt="...">
          <div class="card-body">
            <div class="card-title">SOCIALS GROWTH CAMPAIGN</div>
            <p class="card-text">Done right, branding offers a company an edge over the competition. So what exactly is branding, and why is it important for companies to integrate a well-rounded branding and media strategy?</p>
            <a href="#" class="btn  sea-more">SEE MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-holder">
        <div class="card">
          <img src="../../../assets/003-responsive.svg" class="" alt="...">
          <div class="card-body">
            <div class="card-title">BRANDING & MEDIA</div>
            <p class="card-text">Perfect for growing your brand’s social community and engage with the right audience. We manage everything from curation of content to management of comments and everything in between.</p>
            <a href="#" class="btn sea-more">SEE MORE</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-holder">
        <div class="card" >
          <img src="../../../assets/004-social-media-1.svg" class="" alt="...">
          <div class="card-body">
            <div class="card-title">INFLUENCER MARKETING</div>
            <p class="card-text">We will pair your business with influencers that speak to your audience. Influencer Marketing is the most effective way to reach a loyal audience.</p>
            <a href="#" class="btn  sea-more">SEE MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-holder">
        <div class="card" >
          <img src="../../../assets/007-analysis.svg" class="" alt="...">
          <div class="card-body">
            <div class="card-title">SOCIAL MEDIA PAID ADVERTISING</div>
            <p class="card-text">Our ad campaigns will bring you the results your looking for. From brand awareness campaigns to lead funnels, we have got the tools to create the right ads for your business. Our re-targeting campaigns will be sure to get your visitors coming back to your site.</p>
            <a href="#" class="btn sea-more">SEE MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-holder">
        <div class="card">
          <img src="../../../assets/008-computer.svg" class="" alt="...">
          <div class="card-body">
            <div class="card-title">CONTENT MARKETING SERVICES</div>
            <p class="card-text">We can create and provide your company with the best content marketing for your socials to improve online presence. Creating valuable and quality content helps boost conversions and improve customer retention.</p>
            <a href="#" class="btn sea-more">SEE MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
