.sea-more {
  float: right;
  background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.5rem;
  color: white;
  margin-top: 10px;
  line-height: 1;
  position: absolute;
  bottom: 6%;
  right: 10%;

}
.background-image {
  background-image: url('../../../assets/bgg.svg');
  margin-top: 8vw;
  padding-left: 8vw;
  background-size: contain;
  background-position-y: 8vw;
  background-repeat-y: no-repeat;
  margin-bottom: 10vw;
}
.what-we-offer {
  color: #42495B;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 8vw;

}
.card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #7E76F91A;
  border-radius: 10%;
  border: unset;
  // width: 93%;
  // padding: 22px;
  padding: 6%;
  // margin-bottom: 8vw;
  // max-height: 112%;
  // min-height: 112%;
  margin-bottom: 70px;
  width: 22vw;
  height: 26vw;
}
.card img {
  width: 30%;
  margin: auto;
}
.card-body {
  padding:unset;
  margin-top: 20px;
}
.card-title {
  color: #42495B;
  font-size: 0.9rem;
  font-weight: 700;
}
.card-text {
  color: #42495B;
  font-size: 0.74rem;
  margin-top: 30px;

}
@media screen and (max-width: 600px) {
  .what-we-offer {
    color: #42495B;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 8vw;
    margin-right: 12vw;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .background-image {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 100px;
   }

   .card-text {
    color: #42495B;
    font-size: 1.2rem;
    margin-top: 30px;
  }
  .card-title {
    color: #42495B;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #7E76F91A;
    border-radius: 10%;
    border: unset;
    padding: 6%;
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
  }
  .sea-more {
    float: right;
    background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 0.8rem;
    color: white;
    margin-top: 10px;
    line-height: 1;
    position: absolute;
    bottom: 6%;
    right: 10%;
  }
  .card-holder {
    margin-bottom: 30px;
  }
  .cards-holder {
    margin-left: 0px
  }
}
.carousel-item {
  display:  block !important;
}
