<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="image-holder">
          <img src="../../../assets/Group_1538.svg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 background-image" >
        <div class="who-we">Who We Are</div>
        <p class="who-we-text">Lorem Media is a full-service social media agency. We offer businesses innovative solutions that deliver the right type of audience to you in the most effective strategies possible. We strive to develop a community around your business, polishing your branding, and improving your public relations. Social Media is now one of the most powerful marketing tools with the ability to communicate with a target audience in real time. </p>
        <p class="who-we-text-2">It's 2019: time to sink or swim.</p>
        <button type="button" class="btn see-more">SEE MORE</button>

      </div>
    </div>
  </div>
</section>
