.background-image {
  background-image: url('../../../assets/Group_182.svg');
  margin-top: 5vw;
  background-size: contain;
  padding-top: 8vw
}
.image-holder {
  margin-left: 8vw;
  margin-top: 8vw;
}
.image-holder img{
  width: 38vw;
}
.who-we {
  color: #42495B;
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 8vw;
  margin-right: 12vw;
  margin-bottom: 14px;
}
.who-we-text {
  color: #7A839E;
  font-size: 0.85rem;
  justify-content: left;
  margin-left: 4vw;
  margin-right: 12vw;
  // max-width: 18vw;
}
.who-we-text-2 {
  color: #7A839E;
  font-size: 0.85rem;
  justify-content: left;
  margin-left: 4vw;
  margin-right: 12vw;
  // max-width: 18vw;
}
.see-more {
  margin-left: 4vw;
  background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
  border-radius: 35px;
  opacity: 1;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem;
  color: white;
  margin-top: 10px;
}
section {
  margin-bottom: 8vw;
}
@media screen and (max-width: 600px) {
  .background-image {
    background-image:unset;
    margin-top: 5vw;
    // background-size: contain;
    padding-top: 8vw
  }
  .image-holder img {
    width: 80vw;
  }
  .who-we {
    color: #42495B;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 8vw;
    margin-right: 12vw;
  }
  .who-we-text {
    color: #7A839E;
    font-size: 1.3rem;
    justify-content: left;
    margin-left: 3vw;
    margin-right: 12vw;
  }
  .background-image {
    background-image: unset;
    margin-top: 30px;
    /* padding-top: 22px; */
  }
  .who-we-text-2 {
    color: #7A839E;
    font-size: 1.3rem;
    justify-content: left;
    margin-left: 3vw;
    margin-right: 12vw;
    margin-top: 40px;
    margin-bottom: 40px;
}
}
