footer {

    background-image: url(../../../assets/MaskGroup1.svg);
    // background-color: #1212a6;
    // margin-top: 8vw;
    // height: 44vw;
    background-size: cover;
    padding-bottom: 4vw;

}
// .row {
//   margin-left: 8vw;
// }
div.logo {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}
.stay-in {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.quick-link {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
li {
  color: #FFFFFF;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hours {
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.contact {
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.phone {
  color: #FFFFFF;
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 5px;
}
.email {

  color: #FFFFFF;
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 5px;
}
.map {
  color: #FFFFFF;
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 5px;
}
.socail-holder {
  text-align: center;
}
.socail-holder  img {
  // width: 8px;
  width: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
.contact-img img {
  width: 12px;
}
.email-holder {
  margin-top: 10px;
  margin-bottom: 30px;

}
.face-book {
  width: 8px !important;
}
.form-control{
  width: 26vw;
}
.form-group {
   display: inline-flex;
}
section {
  margin-top: 8vw;
}
.do-you-want {
  color: #42495B;
  text-align: center;
  font-size: 1.2rem;
}
.subscribe-form {
  background: #F6F7FB 0% 0% no-repeat padding-box;
  border: unset;
  color: #999999;
  border-radius: unset;
  font-size: 0.6rem;
  padding: 1.2rem 1.2rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}
.subscribe-button {
  margin-left: 14px;
  background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.9rem;
  color: white;
  line-height: 1.8;
}
.contact-holder {
  // margin-bottom: 10vw

}

.hours-container {
  display: block;
}
.white-space {
  width: 40vw;
  margin-bottom: 18vw;
}
.social-container {
  // margin-left: 8vw;
}
@media screen and (max-width: 600px) {
  .hours-container {
    display: none;
  }
  .social-container {
    margin-bottom: 50px;
  }
  section {
    margin-top: 8vw;
    margin-bottom: 200px;
  }

  div.logo {
    color: #FFFFFF;
    font-size: 3.4rem;
    font-weight: 400;
  }
  footer {
    background-image: url(../../../assets/MaskGroup1.svg);
    background-repeat-x: unset;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat-y: no-repeat;
    padding-bottom: 4vw;
  }
  .white-space {
    width: 40vw;
    margin-bottom: 60vw;
 }
 .socail-holder {
  text-align: unset;
  }
  div.logo {
    text-align: unset;
  }
  .stay-in {
    text-align: unset;
  }
}
