<footer>
  <div class="container contact-holder">
    <div class="row">
      <div class="white-space">

      </div>
      <!-- <div class="col-lg-12">
        <p class="do-you-want">Do you want to get <span class="font-weight-bolder">Special News?</span></p>
      </div>
      <div class="col-lg-12 text-center">
        <form [formGroup]="subscribeForm" (ngSubmit)="subscribeEmail()">
          <div class="form-group">
            <input type="email" class="form-control subscribe-form" id="exampleInputEmail1" placeholder="Drop Your Email" aria-describedby="emailHelp" formControlName="email">
            <button type="submit" class="btn subscribe-button"  [disabled]="!subscribeForm.valid">Subscribe</button>
          </div>


        </form>
      </div> -->
    </div>
  </div>

  <!-- <div class="container white-space">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 social-container">
        <div class="logo">logo.</div>
        <div class="stay-in">Stay in touch</div>
        <div class="socail-holder">
          <img src="../../../assets/003-facebook.svg" class="face-book" alt="">
          <img src="../../../assets/002-google-plus.svg" alt="">
          <img src="../../../assets/001-twitter-logo-silhouette.svg" alt="">
          <img src="../../../assets/instagram.svg" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="quick-link">Quick Links</div>

        <ul>
          <li>About</li>
          <li>Home</li>
          <li>Pricing</li>
          <li>Location</li>
          <li>Office</li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 hours-container">
        <div class="hours">Hours</div>

        <ul>
          <li>Monday: 9:00 - 18:00</li>
          <li>Tuesday: 9:00 - 18:00</li>
          <li>Wednesday: 9:00 - 18:00</li>
          <li>Thursday: 9:00 - 18:00</li>
          <li>Friday: 9:00 - 18:00</li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="contact">Contact</div>
        <div class="contact-img">
          <img src="../../../assets/old-handphone.svg" alt="">
          <div class="phone">
            000-000-0000
          </div>
        </div>
         <div class="contact-img email-holder" >
          <img src="../../../assets/envelope.svg" alt="">
          <div class="email" >info@email.com</div>
         </div>
         <div class="contact-img">
           <img src="../../../assets/maps-and-flags.svg" alt="">
          <div class="map">
            New York, US
          </div>
         </div>
      </div>
    </div>
  </div>
</footer>
