.header-image {
  width: 17vw;
}
.links-holder {
  width: 50%;
}
.band-holder {
  width: 50%;
  // text-align: center;
  margin-left: 12vw;
}
.navbar {
  background-color: transparent;
  // margin-bottom: 3vw;
}
.section {
  background-image: url(../../../assets/Bg-Shape.svg);
  // background-image: url(Bg-Shape.svg);
    background-position-x: right;
    background-repeat-x: no-repeat;
    // margin-bottom: 10vw;
    background-position-y: bottom;
    background-size: contain;
}
.nav-link  {
  color: white;
  font-size: 0.8rem;
}
.social-media {
  font-size: 2rem;
  letter-spacing: 0px;
  color: #42495B;
  // display: inline-block;
  margin-left: 8vw;
  font-weight: 500;
    font-size: 2.4rem;
}
.for-business {
  font-size: 3.5rem;
  letter-spacing: 0px;
  color: #42495B;
  font-weight: bold;
  margin-left: 8vw;
  margin-top: -18px;
}
.subtitle {
  color: #7A839E;
  font-size: 0.7rem;
  // display: inline-block;
  // margin-left: 8vw;
  // margin-left: 8vw;
  margin-left: 8vw;
}
.title-holder {
  margin-top: 10vw;

}
.image-holder {
  // margin-bottom: -3vw;
}
.image-holder img {
  width: 38vw;

}
.get-free-audit {
  margin-left: 8vw;
  background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.7rem;
  color: white;
  margin-top: 10px;
}
.mouse-holder {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #7E76F929;
  opacity: 1;
  margin: auto;

  border-radius: 50%;
  text-align: center;
  margin: auto;
  width: 5vw;
    height: 5vw;
    padding: 1rem;
    cursor: pointer;

}
.mouse-holder img {
  width: 20px;

}
.desktop-header {
  display: block;
}
.mobile-header {
  display: none;
}

@media screen and (max-width: 600px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .section {
    background-image: url(../../../assets/Bg-Shape.svg);
    background-position-x: unset;
    background-repeat-x: unset;
    // margin-bottom: 10vw;
    background-position-y: unset;
    background-size: unset;
    background-position-x: right;

    background-position-y: top;
    background-repeat-y: no-repeat;
  }
  .image-holder {
    float: right;
  }
  .image-holder img {
    width: 84vw;
    margin-top: 10vw;
  }

  .header-image {
    width: 30vw;
    vertical-align: super;
  }

  nav {
    padding-top: 10vw;
  }

  .social-media {
    margin-left: 3vw;
    margin-top: 20vw;
  }

  .for-business {
    margin-left: 3vw;
    margin-top: -18px;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-left: 3vw;
  }

  .get-free-audit {
    margin-left: 3vw;
    background: transparent linear-gradient(270deg, #6156F9 0%, #1A129F 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 2.1;
  }

}





