<section class="section desktop-header">
  <nav class="navbar navbar-expand-lg">
    <div class="band-holder">
      <a class="navbar-brand" href="#" >
        <img src="../../../assets/Group_1541.svg" class="header-image"  alt="">
      </a>
    </div>

    <div class="links-holder collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 title-holder">
        <div class="social-media">
          SOCIAL MEDIA
        </div>
        <div class="for-business">FOR BUSINESS!</div>
        <div class="subtitle">
          PERFOMANCE BASED SOCIAL MEDIA AGENCY
        </div>
        <div class="subtitle">
          WE ARE LOREM MEDIA
        </div>
        <button type="button" class="btn get-free-audit ">GET A FREE AUDIT</button>

      </div>
      <div class="col-lg-6 col-md-6">
        <div class="image-holder">
          <img src="../../../assets/Group_1423.svg" alt="">
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section mobile-header">
  <!-- <nav class="navbar navbar-expand-lg">
    <div class="band-holder">
      <a class="navbar-brand" href="#" >
        <img src="../../../assets/Group_1541.svg" class="header-image"  alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="links-holder collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg nav-mobile">
    <div class="band-holder">

        <img src="../../../assets/logo-white.svg" class="header-image"  alt="">

    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../assets/bars.svg" alt="">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div class="pos-l-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 title-holder">
        <div class="image-holder">
          <img src="../../../assets/Group_1423.svg" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-xs-12">
        <div class="social-media">
          SOCIAL MEDIA
        </div>
        <div class="for-business">FOR BUSINESS!</div>
        <div class="subtitle">
          PERFOMANCE BASED SOCIAL MEDIA AGENCY
        </div>
        <div class="subtitle">
          WE ARE LOREM MEDIA
        </div>
        <button type="button" class="btn get-free-audit ">GET A FREE AUDIT</button>
      </div>
    </div>
  </div>

</section>

<section class="desktop-header">
  <div class="container">
    <div class="mouse-holder">
      <img src="../../../assets/mouse.svg" alt="">
    </div>
  </div>
</section>
