<section>
  <div class="container">
    <div class="row cards-holder">
      <div class="col-lg-12 col-md-12">
        <div class="our-pricing">
          Our Pricing
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div id="carousel">
          <div class="main">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Gold Package</div>
                <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean nisl nibh, sagittis ac faucibus sit
                </div>
                <div class="price">$ 140</div>
                <a href="#" class="btn see-details">See Details</a>
              </div>
            </div>
          </div>

          <div class="next">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Platinum Package</div>
                <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean nisl nibh, sagittis ac faucibus sit amet, faucibus
                  vitae lacus.
                </div>
                <div class="price">$ 140</div>
                <a href="#" class="btn see-details">See Details</a>
              </div>
            </div>
          </div>

          <div class="previous">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Silver Package</div>
                <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean nisl nibh, sagittis ac faucibus sit.
                </div>
                <div class="price">$ 140</div>
                <a href="#" class="btn see-details">See Details</a>
              </div>
            </div>
          </div>
        </div>
        <div id="carousel-indic">
          <div class="unactive"></div>
          <div class="active-carous"></div>
          <div class="unactive"></div>
        </div>
      </div>
      <!-- =============================== -->

      <!-- =============================== -->
      <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Gold Package</div>
                <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit</div>
                <div class="price">$ 140</div>
                <a href="#" class="btn see-details">See Details</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Platinum Package</div>
                <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit amet, faucibus vitae lacus.</div>
                <div class="price">$ 140</div>
                <a href="#" class="btn see-details">See Details</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <div class="card-body">
                <div class="card-title">Silver Package</div>
                <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit.</div>
                <div class="price">$ 140</div>
                <a href="#" class="btn see-details">See Details</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->
      <!-- <div class="col-lg-4 col-md-4">

        <div class="card">
          <div class="card-body">
            <div class="card-title">Gold Package</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit</div>
            <div class="price">$ 140</div>
            <a href="#" class="btn see-details">See Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Platinum Package</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit amet, faucibus vitae lacus.</div>
            <div class="price">$ 140</div>
            <a href="#" class="btn see-details">See Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Silver Package</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit.</div>
            <div class="price">$ 140</div>
            <a href="#" class="btn see-details">See Details</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- -->
