section {
  background: #7e76f938;
}
.our-pricing {
  color: #42495b;
  font-size: 2rem;
  font-weight: bold;
  // margin-left: 8vw;
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 6vw;
  margin-left: -8vw;
}
// .card {
//   background: #ffffff 0% 0% no-repeat padding-box;
//   box-shadow: 0px 10px 20px #7e76f91a;
//   border-radius: 20px;
//   border: unset;
//   width: 22vw;
//   padding: 20px;
//   margin-bottom: 8vw;
//   // max-height: 26vw;
//   min-height: 26vw;
//   margin-left: 30px;
//   margin-right: 30px;
// }
.card-title {
  color: #42495b;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}
.card-text {
  color: #7a839e;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.price {
  color: #1000ff;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.see-details {
  background: white;
  border-radius: 25px;
  opacity: 1;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.9rem;
  margin: 10px auto;
  border: 1px solid #1000ff;
  font-weight: 500;
}
.card-body {
  text-align: center;
}
.cards-holder {
  margin-left: 8vw;
}
// .card-title[_ngcontent-c5] {
//   color: #42495B;
//   font-size: 2.8rem;
//   text-align: center;
//   font-weight: 400;
//   margin-top: 20px;
//   margin-bottom: 60px;
// }
@media screen and (max-width: 600px) {
  .card-holder {
    margin-bottom: 30px;
  }
  .cards-holder {
    margin-left: 0px;
    padding-bottom: 40px;
  }
  .card-title {
    color: #42495b;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .our-pricing {
    color: #42495b;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 6vw;
  }
  .card-text {
    color: #7a839e;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .price {
    color: #1000ff;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #7e76f91a;
    border-radius: 20px;
    border: unset;
    width: 92%;
    padding: 20px;
    // margin-bottom: 8vw;
    max-height: unset;
    min-height: unset;
    margin: 4vw auto;
  }
  .see-details {
    background: white;
    border-radius: 25px;
    opacity: 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    margin: 20px auto;
    border: 1px solid #1000ff;
    font-weight: 500;
  }
}
// /
#carousel {
  // background: red;
  // height: 70vh;
  height: 38vw;
  // overflow: hidden;
  // position: relative;
  left: 50%;
  top: 50%;
  // transform: translateY(-50%) translateX(-50%);
  width: 70vw;
}
.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #7e76f91a;
  border-radius: 20px;
  border: unset;
  width: 22vw;
  padding: 20px;
  /* margin-bottom: 8vw; */
  min-height: 26vw;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
}
#carousel > div {
  background: white;
  border-radius: 40px;
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: inline-block;
  // height: 100%;
  font-family: Lato;
  left: 50%;
  position: absolute;
  transition: all 0.7s;
  // width: 50%;
}

.main {
  opacity: 1;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}

.next,
.previous {
  display: inline-block;
  // opacity: 0.6;
  position: absolute;
  z-index: 1;
}

.next {
  transform: translateX(60%) scale(0.9);
}

.previous {
  transform: translateX(-160%) scale(0.9);
}
.unactive {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #7e76f9;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;
}
#carousel-indic {
  display: block !important;
  background: unset !important;
  border-radius: unset !important;
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  // height: 100%;
  // left: unset !important;
  position: absolute !important;
  bottom: 10%;
  left: 50%;
  transition: unset !important;
  // width: 50%;
}
.active-carous {
  display: inline-block;
  border: 1px solid #7e76f9;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;
  background: #7e76f9 0% 0% no-repeat padding-box;
  width: 7px;
  height: 7px;
}
